<section class="article-list" id="top">
    <div class="article-group">
        <article class="card article-alone">
            <img class="card-img-top" src="../img/killJoys.jpg" alt="User - Article title" class="cover">
            <div class="card-body">
                <div class="title">
                    Syfy renews Killjoys for two final seasons, but cancels Dark Matter
                </div>
                <div class="article-info">
                    <div class="user-space space">
                        <img class="img-circular" src="../img/user1.jpg" alt="user1">
                        <p class="name-user">Andrew Liptak</p>
                    </div>
                    <div class="space-like space me-gusta">                        
                        <div class="ui-status me-gusta">
                            <img class="img-circular like" src="../img/megusta.png" alt="Like">
                        </div>
                        <div class="ui-status me-gusta-si">
                            <p class="name-user">Me gusta!!!</p>
                        </div>
                    </div>
                    <div class="space-comment space">
                        <p class="number-comment space">5</p>
                        <a href="./detalle.html">
                            <img class="icon-comment img-circular space" src="../img/comment.png" alt="Comment">
                        </a>
                    </div>
                    <div class="time">
                        <p class="time-format"> Sep 1, 2017, 6:54pm EDT</p>
                    </div>
                </div>
            </div>
            
        </article>    
        <article class="card article-alone">
            <img class="card-img-top" src="../img/instagram.jpg" alt="User - Article title" class="cover">
            <div class="card-body">
                <div class="title">
                    An Instagram hack hit millions of accounts, & victims’ phone numbers
                </div>
                <div class="article-info">
                    <div class="user-space space">
                        <img class="img-circular" src="../img/user2.jpg" alt="user1">
                        <p class="name-user">Casey Newton</p>
                    </div>
                    <div class="space-like space me-gusta">                        
                        <div class="ui-status me-gusta">
                            <img class="img-circular like" src="../img/megusta.png" alt="Like">
                        </div>
                        <div class="ui-status me-gusta-si">
                            <p class="name-user">Me gusta!!!</p>
                        </div>
                    </div>
                    <div class="space-comment space">
                        <p class="number-comment space">5</p>
                        <a href="./detalle.html">
                            <img class="icon-comment img-circular space" src="../img/comment.png" alt="Comment">
                        </a>
                    </div>
                    <div class="time">
                        <p class="time-format">Sep 1, 2017, 5:33pm EDT</p>
                    </div>
                </div>
            </div>
            
        </article>
        <article class="card article-alone">
            <div class="video-responsive">
                <iframe src="https://www.youtube.com/embed/JtigV-biVGg" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="card-body card-text">
                <div class="title">
                    Star Wars Rebels gets a new trailer and release date for its final season
                </div>
                <div class="article-info">
                    <div class="user-space space">
                        <img class="img-circular" src="../img/user1.jpg" alt="user1">
                        <p class="name-user">Andrew Liptak</p>
                    </div>
                    <div class="space-like space me-gusta">                        
                        <div class="ui-status me-gusta">
                            <img class="img-circular like" src="../img/megusta.png" alt="Like">
                        </div>
                        <div class="ui-status me-gusta-si">
                            <p class="name-user">Me gusta!!!</p>
                        </div>
                    </div>
                    <div class="space-comment space">
                        <p class="number-comment space">5</p>
                        <a href="./detalle.html">
                            <img class="icon-comment img-circular space" src="../img/comment.png" alt="Comment">
                        </a>
                    </div>
                    <div class="time">
                        <p class="time-format"> Sep 2, 2017, 1:25pm EDT</p>
                    </div>
                </div>
            </div>
            
        </article>
        <article class="card article-alone">
            <img class="card-img-top" src="../img/9tips.jpg" alt="User - Article title" class="cover">
            <div class="card-body">
                <div class="title">
                    9 tips for safer Labor Day grilling, good meet is not only science
                </div>
                <div class="article-info">
                    <div class="user-space space">
                        <img class="img-circular" src="../img/userundefined.jpg" alt="user1">
                        <p class="name-user"> Alessandra Potenza</p>
                    </div>
                    <div class="space-like space me-gusta">                        
                        <div class="ui-status me-gusta">
                            <img class="img-circular like" src="../img/megusta.png" alt="Like">
                        </div>
                        <div class="ui-status me-gusta-si">
                            <p class="name-user">Me gusta!!!</p>
                        </div>
                    </div>
                    <div class="space-comment space">
                        <p class="number-comment space">5</p>
                        <a href="./detalle.html">
                            <img class="icon-comment img-circular space" src="../img/comment.png" alt="Comment">
                        </a>
                    </div>
                    <div class="time">
                        <p class="time-format">Sep 2, 2017, 10:00am EDT</p>
                    </div>
                </div>
            </div>
            
        </article>
        <article class="card article-alone">
            <img class="card-img-top" src="../img/IFA.jpg" alt="User - Article title" class="cover">
            <div class="card-body">
                <div class="title">
                    IFA Berlin 2017: the best phones, headphones, and everything
                </div>
                <div class="article-info">
                    <div class="user-space space">
                        <img class="img-circular" src="../img/userundefined.jpg" alt="user1">
                        <p class="name-user">Chaim Gartenberg</p>
                    </div>
                    <div class="space-like space me-gusta">                        
                        <div class="ui-status me-gusta">
                            <img class="img-circular like" src="../img/megusta.png" alt="Like">
                        </div>
                        <div class="ui-status me-gusta-si">
                            <p class="name-user">Me gusta!!!</p>
                        </div>
                    </div>
                    <div class="space-comment space">
                        <p class="number-comment space">5</p>
                        <a href="./detalle.html">
                            <img class="icon-comment img-circular space" src="../img/comment.png" alt="Comment">
                        </a>
                    </div>
                    <div class="time">
                        <p class="time-format"> Sep 1, 2017, 6:54pm EDT</p>
                    </div>
                </div>
            </div>
            
        </article>
        <article class="card article-alone">
            <img class="card-img-top" src="../img/6b.jpg" alt="User - Article title" class="cover">
            <div class="card-body">
                <div class="title">
                    6 binge-worthy shows to watch during Labor Day weekend
                </div>
                <div class="article-info">
                    <div class="user-space space">
                        <img class="img-circular" src="../img/user4.jpg" alt="user1">
                        <p class="name-user"> Verge Staff</p>
                    </div>
                    <div class="space-like space me-gusta">                        
                        <div class="ui-status me-gusta">
                            <img class="img-circular like" src="../img/megusta.png" alt="Like">
                        </div>
                        <div class="ui-status me-gusta-si">
                            <p class="name-user">Me gusta!!!</p>
                        </div>
                    </div>
                    <div class="space-comment space">
                        <p class="number-comment space">5</p>
                        <a href="./detalle.html">
                            <img class="icon-comment img-circular space" src="../img/comment.png" alt="Comment">
                        </a>
                    </div>
                    <div class="time">
                        <p class="time-format">Sep 2, 2017, 1:00pm EDT</p>
                    </div>
                </div>
            </div>
            
        </article>
        <article class="card article-alone">
            <img class="card-img-top" src="../img/peeksteve.jpg" alt="User - Article title" class="cover">
            <div class="card-body">
                <div class="title">
                    Peek inside the Steve Jobs Theater ahead of Apple’s iPhone 8 event
                </div>
                <div class="article-info">
                    <div class="user-space space">
                        <img class="img-circular" src="../img/user3.jpg" alt="user1">
                        <p class="name-user"> Dani Deahl</p>
                    </div>
                    <div class="space-like space me-gusta">                        
                        <div class="ui-status me-gusta">
                            <img class="img-circular like" src="../img/megusta.png" alt="Like">
                        </div>
                        <div class="ui-status me-gusta-si">
                            <p class="name-user">Me gusta!!!</p>
                        </div>
                    </div>
                    <div class="space-comment space">
                        <p class="number-comment space">5</p>
                        <a href="./detalle.html">
                            <img class="icon-comment img-circular space" src="../img/comment.png" alt="Comment">
                        </a>
                    </div>
                    <div class="time">
                        <p class="time-format">Sep 1, 2017, 4:49pm EDT</p>
                    </div>
                </div>
            </div>
            
        </article>
        <article class="card article-alone">
            <img class="card-img-top" src="../img/surface.jpg" alt="User - Article title" class="cover">
            <div class="card-body">
                <div class="title">
                    Surface Mini provide a closer look at Microsoft’s canceled tablet
                </div>
                <div class="article-info">
                    <div class="user-space space">
                        <img class="img-circular" src="../img/user2.jpg" alt="user1">
                        <p class="name-user">Tom Warren</p>
                    </div>
                    <div class="space-like space me-gusta">                        
                        <div class="ui-status me-gusta">
                            <img class="img-circular like" src="../img/megusta.png" alt="Like">
                        </div>
                        <div class="ui-status me-gusta-si">
                            <p class="name-user">Me gusta!!!</p>
                        </div>
                    </div>
                    <div class="space-comment space">
                        <p class="number-comment space">5</p>
                        <a href="./detalle.html">
                            <img class="icon-comment img-circular space" src="../img/comment.png" alt="Comment">
                        </a>
                    </div>
                    <div class="time">
                        <p class="time-format">Sep 2, 2017, 4:29am EDT</p>
                    </div>
                </div>
            </div>
            
        </article>
        <article class="card article-alone">
            <img class="card-img-top" src="../img/16book.jpg" alt="User - Article title" class="cover">
            <div class="card-body">
                <div class="title">
                    16 science fiction and fantasy books to read this September
                </div>
                <div class="article-info">
                    <div class="user-space space">
                        <img class="img-circular" src="../img/user1.jpg" alt="user1">
                        <p class="name-user">Andrew Liptak</p>
                    </div>
                    <div class="space-like space me-gusta">                        
                        <div class="ui-status me-gusta">
                            <img class="img-circular like" src="../img/megusta.png" alt="Like">
                        </div>
                        <div class="ui-status me-gusta-si">
                            <p class="name-user">Me gusta!!!</p>
                        </div>
                    </div>
                    <div class="space-comment space">
                        <p class="number-comment space">5</p>
                        <a href="./detalle.html">
                            <img class="icon-comment img-circular space" src="../img/comment.png" alt="Comment">
                        </a>
                    </div>
                    <div class="time">
                        <p class="time-format">Sep 1, 2017, 12:02pm EDT</p>
                    </div>
                </div>
            </div>
            
        </article>
        <article class="card article-alone">
            <img class="card-img-top" src="../img/killJoys.jpg" alt="User - Article title" class="cover">
            <div class="card-body">
                <div class="title">
                    IoT: The Internet of (Every)thing? Simple, easy and for people
                </div>
                <div class="article-info">
                    <div class="user-space space">
                        <img class="img-circular" src="../img/user4.jpg" alt="user1">
                        <p class="name-user">Rebecca Franks</p>
                    </div>
                    <div class="space-like space me-gusta">                        
                        <div class="ui-status me-gusta">
                            <img class="img-circular like" src="../img/megusta.png" alt="Like">
                        </div>
                        <div class="ui-status me-gusta-si">
                            <p class="name-user">Me gusta!!!</p>
                        </div>
                    </div>
                    <div class="space-comment space">
                        <p class="number-comment space">5</p>
                        <a href="./detalle.html">
                            <img class="icon-comment img-circular space" src="../img/comment.png" alt="Comment">
                        </a>
                    </div>
                    <div class="time">
                        <p class="time-format"> Aug 31, 2017, 6:54pm EDT</p>
                    </div>
                </div>
            </div>
            
        </article>
    </div>
</section>