<section class="article-list">
    <div class="article-group">
        <article class="card article-alone">
            <img class="card-img-top" src="http://image.freepik.com/free-icon/cd-rom_318-9291.jpg" alt="User - Article title" class="cover">
            <div class="card-body">
                <div class="title">
                    Titulo del articulo
                </div>
                <div class="abstract">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>            
                </div>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </article>    
        <article class="card article-alone">
            <img class="card-img-top" src="http://image.freepik.com/free-icon/cd-rom_318-9291.jpg" alt="User - Article title" class="cover">
            <div class="card-body">
                <div class="title">
                    Titulo del articulo
                </div>
                <div class="abstract">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>            
                </div>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </article>    
        <article class="card article-alone">
            <img class="card-img-top" src="http://image.freepik.com/free-icon/cd-rom_318-9291.jpg" alt="User - Article title" class="cover">
            <div class="card-body">
                <div class="title">
                    Titulo del articulo
                </div>
                <div class="abstract">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>            
                </div>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </article>    
        <article class="card article-alone">
            <img class="card-img-top" src="http://image.freepik.com/free-icon/cd-rom_318-9291.jpg" alt="User - Article title" class="cover">
            <div class="card-body">
                <div class="title">
                    Titulo del articulo
                </div>
                <div class="abstract">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>            
                </div>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </article>    
        <article class="card article-alone">
            <img class="card-img-top" src="http://image.freepik.com/free-icon/cd-rom_318-9291.jpg" alt="User - Article title" class="cover">
            <div class="card-body">
                <div class="title">
                    Titulo del articulo
                </div>
                <div class="abstract">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>            
                </div>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </article>    
    </div>
</section>