<section class="article-list" id="top">
    <div class="article-group">
        <article class="card article-alone">
            <img class="card-img-top" src="../img/killJoys.jpg" alt="User - Article title" class="cover">
            <div class="card-body">
                <div class="title">
                    Syfy renews Killjoys for two final seasons, but cancels Dark Matter
                </div>
                <div class="article-info">
                    <div class="user-space space">
                        <img class="img-circular" src="../img/user1.jpg" alt="user1">
                        <p class="name-user">Andrew Liptak</p>
                    </div>
                    <div class="space-like space">
                        <img class="img-circular like" src="../img/megusta.png" alt="Like">
                    </div>
                    <div class="space-comment space">
                        <p class="number-comment space">5</p>
                        <img class="icon-comment img-circular space" src="../img/comment.png" alt="Comment">
                    </div>
                    <div class="time">
                        <p class="time-format"> Sep 1, 2017, 6:54pm EDT</p>
                    </div>
                </div>
            </div>
            
        </article>    
        <article class="card article-alone">
            <img class="card-img-top" src="../img/killJoys.jpg" alt="User - Article title" class="cover">
            <div class="card-body">
                <div class="title">
                    Syfy renews Killjoys for two final seasons, but cancels Dark Matter
                </div>
                <div class="article-info">
                    <div class="user-space space">
                        <img class="img-circular" src="../img/user1.jpg" alt="user1">
                        <p class="name-user">Andrew Liptak</p>
                    </div>
                    <div class="space-like space">
                        <img class="img-circular like" src="../img/megusta.png" alt="Like">
                    </div>
                    <div class="space-comment space">
                        <p class="number-comment space">5</p>
                        <img class="icon-comment img-circular space" src="../img/comment.png" alt="Comment">
                    </div>
                    <div class="time">
                        <p class="time-format"> Sep 1, 2017, 6:54pm EDT</p>
                    </div>
                </div>
            </div>
            
        </article>
        <article class="card article-alone">
            <img class="card-img-top" src="../img/killJoys.jpg" alt="User - Article title" class="cover">
            <div class="card-body">
                <div class="title">
                    Syfy renews Killjoys for two final seasons, but cancels Dark Matter
                </div>
                <div class="article-info">
                    <div class="user-space space">
                        <img class="img-circular" src="../img/user1.jpg" alt="user1">
                        <p class="name-user">Andrew Liptak</p>
                    </div>
                    <div class="space-like space">
                        <img class="img-circular like" src="../img/megusta.png" alt="Like">
                    </div>
                    <div class="space-comment space">
                        <p class="number-comment space">5</p>
                        <img class="icon-comment img-circular space" src="../img/comment.png" alt="Comment">
                    </div>
                    <div class="time">
                        <p class="time-format"> Sep 1, 2017, 6:54pm EDT</p>
                    </div>
                </div>
            </div>
            
        </article>
        <article class="card article-alone">
            <img class="card-img-top" src="../img/killJoys.jpg" alt="User - Article title" class="cover">
            <div class="card-body">
                <div class="title">
                    Syfy renews Killjoys for two final seasons, but cancels Dark Matter
                </div>
                <div class="article-info">
                    <div class="user-space space">
                        <img class="img-circular" src="../img/user1.jpg" alt="user1">
                        <p class="name-user">Andrew Liptak</p>
                    </div>
                    <div class="space-like space">
                        <img class="img-circular like" src="../img/megusta.png" alt="Like">
                    </div>
                    <div class="space-comment space">
                        <p class="number-comment space">5</p>
                        <img class="icon-comment img-circular space" src="../img/comment.png" alt="Comment">
                    </div>
                    <div class="time">
                        <p class="time-format"> Sep 1, 2017, 6:54pm EDT</p>
                    </div>
                </div>
            </div>
            
        </article>
        <article class="card article-alone">
            <img class="card-img-top" src="../img/killJoys.jpg" alt="User - Article title" class="cover">
            <div class="card-body">
                <div class="title">
                    Syfy renews Killjoys for two final seasons, but cancels Dark Matter
                </div>
                <div class="article-info">
                    <div class="user-space space">
                        <img class="img-circular" src="../img/user1.jpg" alt="user1">
                        <p class="name-user">Andrew Liptak</p>
                    </div>
                    <div class="space-like space">
                        <img class="img-circular like" src="../img/megusta.png" alt="Like">
                    </div>
                    <div class="space-comment space">
                        <p class="number-comment space">5</p>
                        <img class="icon-comment img-circular space" src="../img/comment.png" alt="Comment">
                    </div>
                    <div class="time">
                        <p class="time-format"> Sep 1, 2017, 6:54pm EDT</p>
                    </div>
                </div>
            </div>
            
        </article>
        <article class="card article-alone">
            <img class="card-img-top" src="../img/killJoys.jpg" alt="User - Article title" class="cover">
            <div class="card-body">
                <div class="title">
                    Syfy renews Killjoys for two final seasons, but cancels Dark Matter
                </div>
                <div class="article-info">
                    <div class="user-space space">
                        <img class="img-circular" src="../img/user1.jpg" alt="user1">
                        <p class="name-user">Andrew Liptak</p>
                    </div>
                    <div class="space-like space">
                        <img class="img-circular like" src="../img/megusta.png" alt="Like">
                    </div>
                    <div class="space-comment space">
                        <p class="number-comment space">5</p>
                        <img class="icon-comment img-circular space" src="../img/comment.png" alt="Comment">
                    </div>
                    <div class="time">
                        <p class="time-format"> Sep 1, 2017, 6:54pm EDT</p>
                    </div>
                </div>
            </div>
            
        </article>
        <article class="card article-alone">
            <img class="card-img-top" src="../img/killJoys.jpg" alt="User - Article title" class="cover">
            <div class="card-body">
                <div class="title">
                    Syfy renews Killjoys for two final seasons, but cancels Dark Matter
                </div>
                <div class="article-info">
                    <div class="user-space space">
                        <img class="img-circular" src="../img/user1.jpg" alt="user1">
                        <p class="name-user">Andrew Liptak</p>
                    </div>
                    <div class="space-like space">
                        <img class="img-circular like" src="../img/megusta.png" alt="Like">
                    </div>
                    <div class="space-comment space">
                        <p class="number-comment space">5</p>
                        <img class="icon-comment img-circular space" src="../img/comment.png" alt="Comment">
                    </div>
                    <div class="time">
                        <p class="time-format"> Sep 1, 2017, 6:54pm EDT</p>
                    </div>
                </div>
            </div>
            
        </article>
        <article class="card article-alone">
            <img class="card-img-top" src="../img/killJoys.jpg" alt="User - Article title" class="cover">
            <div class="card-body">
                <div class="title">
                    Syfy renews Killjoys for two final seasons, but cancels Dark Matter
                </div>
                <div class="article-info">
                    <div class="user-space space">
                        <img class="img-circular" src="../img/user1.jpg" alt="user1">
                        <p class="name-user">Andrew Liptak</p>
                    </div>
                    <div class="space-like space">
                        <img class="img-circular like" src="../img/megusta.png" alt="Like">
                    </div>
                    <div class="space-comment space">
                        <p class="number-comment space">5</p>
                        <img class="icon-comment img-circular space" src="../img/comment.png" alt="Comment">
                    </div>
                    <div class="time">
                        <p class="time-format"> Sep 1, 2017, 6:54pm EDT</p>
                    </div>
                </div>
            </div>
            
        </article>
        <article class="card article-alone">
            <img class="card-img-top" src="../img/killJoys.jpg" alt="User - Article title" class="cover">
            <div class="card-body">
                <div class="title">
                    Syfy renews Killjoys for two final seasons, but cancels Dark Matter
                </div>
                <div class="article-info">
                    <div class="user-space space">
                        <img class="img-circular" src="../img/user1.jpg" alt="user1">
                        <p class="name-user">Andrew Liptak</p>
                    </div>
                    <div class="space-like space">
                        <img class="img-circular like" src="../img/megusta.png" alt="Like">
                    </div>
                    <div class="space-comment space">
                        <p class="number-comment space">5</p>
                        <img class="icon-comment img-circular space" src="../img/comment.png" alt="Comment">
                    </div>
                    <div class="time">
                        <p class="time-format"> Sep 1, 2017, 6:54pm EDT</p>
                    </div>
                </div>
            </div>
            
        </article>
        <article class="card article-alone">
            <img class="card-img-top" src="../img/killJoys.jpg" alt="User - Article title" class="cover">
            <div class="card-body">
                <div class="title">
                    Syfy renews Killjoys for two final seasons, but cancels Dark Matter
                </div>
                <div class="article-info">
                    <div class="user-space space">
                        <img class="img-circular" src="../img/user1.jpg" alt="user1">
                        <p class="name-user">Andrew Liptak</p>
                    </div>
                    <div class="space-like space">
                        <img class="img-circular like" src="../img/megusta.png" alt="Like">
                    </div>
                    <div class="space-comment space">
                        <p class="number-comment space">5</p>
                        <img class="icon-comment img-circular space" src="../img/comment.png" alt="Comment">
                    </div>
                    <div class="time">
                        <p class="time-format"> Sep 1, 2017, 6:54pm EDT</p>
                    </div>
                </div>
            </div>
            
        </article>
    </div>
</section>