<div class="detalle-space">
    <article class="card1 article-alone1">
        <img class="card-img-top" src="../img/killJoys.jpg" alt="User - Article title" class="cover">
        <div class="card-body">
            <div class="title">
                Syfy renews Killjoys for two final seasons, but cancels Dark Matter
            </div>
            <div class="abstract">
                <p class="parraf">
                    The <a href="www.syfy.com">Syfy Channel</a> announced today that it will 
                    end its science fiction show <em class="em">Killjoys</em> after two additional seasons, 
                    the first of which will air next year. At the same time, 
                    the network canceled its other space opera show, Dark Matter, which just 
                    wrapped up its <b class="negrita">third season last week</b>.
                </p>
                <p class="parraf">
                    <em class="em">Killjoys</em> was created by Lost Girl creator Michelle Lovretta, 
                    and follows a trio of bounty hunters who work for a guild called the 
                    Reclamation Apprehension Coalition (RAC) in a four-world system known 
                    as The Quad. The group is led by Dutch (played by Hannah John-Kamen), 
                    an experienced RAC Agent with a secret past. She’s joined by the Jaqobis 
                    brothers, Johnny and D’avin, as well as an assortment of other characters 
                    who live throughout system. The show’s third season finale airs tonight, 
                    and the fourth season is set to air at some point in 2018.
                </p>    
                <p class="parraf">
                    Loveretta noted that having 20 episodes to wrap up the story is 
                    “the kind of privilege every creator hopes for.” It gives her 
                    the opportunity to wrap up the story on her own terms. Over the 
                    course of the three seasons that have aired thus far, <i>Killjoys</i> 
                    has set up a vibrant, exciting, and complicated world, and knowing 
                    that the show’s creators will have the opportunity to close it out is 
                    a welcome one.
                </p>
    
            </div>
            <div class="article-info">
                <div class="user-space space">
                    <img class="img-circular" src="../img/user1.jpg" alt="user1">
                    <p class="name-user">Andrew Liptak</p>
                </div>
                <div class="space-like space">
                    <img class="img-circular like" src="../img/megusta.png" alt="Like">
                </div>
                <div class="space-comment space">
                    <p class="number-comment space">5</p>
                    <img class="icon-comment img-circular space" src="../img/comment.png" alt="Comment">
                </div>
                <div class="time">
                    <p class="time-format"> Sep 1, 2017, 6:54pm EDT</p>
                </div>
            </div>
        </div>
        
    </article>
</div>    