//Font Families
$main-font-family: 'Lora', serif;
$title-font-family: 'Baloo Tammudu', cursive;
$article-font-family: 'Indie Flower', cursive;

// Font Size
$font-size-base: 15px;
$font-size-small: $font-size-base - 5px;
$font-size-medium: $font-size-base;
$font-size-large: $font-size-base + 5px;
$font-size-h1: $font-size-base + 15px;
$font-size-h2: $font-size-base + 12px;
$font-size-h3: $font-size-base + 9px;
$font-size-h4: $font-size-base + 6px;
$font-size-h5: $font-size-base + 3px;
$font-size-h6: $font-size-base;

//Base colors
$color-mighty-slate: #556270;
$color-pacifica: #4ECDC4;
$color-apple-chic: #C7F464;
$color-cheery-pink: #FF6B6B;
$color-grandmas-pillow: #C44D58;
$color-blood:#8A0707;

//Main components color
$main-text-color: $color-mighty-slate;
$links-color: $color-grandmas-pillow;

// Responsive
$mobile-portrait-width: 375px;
$mobile-landscape-width: 767px;
$tablet-portrait-width: $mobile-landscape-width + 1;
$tablet-landscape-width: 1024px;



